body {
    color: #fff; /* Устанавливает цвет текста на белый */
    margin: 0; /* Убирает отступы вокруг тела документа */
    text-align: center; /* Выравнивает текст по центру */
    background: #000; /* Устанавливает черный цвет фона */
    cursor: crosshair; /* Изменяет курсор на перекрестие при наведении */
}

p {
    color: rgba(255, 255, 255, 0.5); /* Устанавливает цвет текста параграфов на полупрозрачный белый */
}

.header {
    top: 42%; /* Устанавливает верхний отступ для элемента с классом 'header' на 42% от верхней границы родительского элемента */
}

.disable-selection {
    user-select: none; /* Запрещает выделение текста в современных браузерах */
    -moz-user-select: none; /* Запрещает выделение текста в браузерах на основе Mozilla (например, Firefox) */
    -webkit-user-select: none; /* Запрещает выделение текста в браузерах на основе WebKit (например, Safari) */
    -webkit-touch-callout: none; /* Запрещает появление контекстного меню при долгом нажатии на текст в мобильных браузерах на основе WebKit */
}

h1::after {
    content: ' MatveyZZ'; /* Добавляет текст ' MatveyZZ' после содержимого заголовка h1 */
    font-size: 12px; /* Устанавливает размер шрифта для добавленного текста на 12 пикселей */
    position: absolute; /* Устанавливает абсолютное позиционирование для добавленного текста */
    top: 3; /* Устанавливает верхний отступ для добавленного текста (значение в пикселях не указано, может быть интерпретировано как 3 пикселя) */
    padding-left: 5px; /* Добавляет отступ слева для добавленного текста на 5 пикселей */
    font-weight: 400; /* Устанавливает нормальную толщину шрифта для добавленного текста */
}